<!DOCTYPE html>
<html lang="en" data-ng-app="app">
	<head>
		<meta charset="UTF-8">	
		<title>Bridge Hand Automatic Dealer</title>
		
		<!-- my styles -->
		<link rel="stylesheet" href="Styles/main.css">	
		
		<!-- vendor libraries -->
		<script src="Scripts/angular.min.js"></script>
		
		<!-- app -->
		<script src="App/app.module.js"></script>
			
		<!-- bridge dealer -->
		<script src="App/dealer.js"></script>
		<script src="App/card.service.js"></script>
		<script src="App/deck.service.js"></script>
		<script src="App/hand.service.js"></script>
	</head>

	<body data-ng-controller="dealer as vm">
		<div data-ng-repeat="position in vm.positions">
			<div class="{{position.pos}}">
				<div>
					<span class="Spades">&spades;</span>
					<span data-ng-repeat="card in position.hand.suits.Spades">{{card.rank}}</span>
				</div>		
				<div>
					<span class="Hearts">&hearts;</span>
					<span data-ng-repeat="card in position.hand.suits.Hearts">{{card.rank}}</span>
				</div>		
				<div>
					<span class="Diamonds">&diams;</span>
					<span data-ng-repeat="card in position.hand.suits.Diamonds">{{card.rank}}</span>
				</div>		
				<div>
					<span class="Clubs">&clubs;</span>
					<span data-ng-repeat="card in position.hand.suits.Clubs">{{card.rank}}</span>
				</div>						
			</div>
		</div>
		
	<!--<button ng-click="vm.dealCards()">Deal Hand</button>
	<a href="file://iplbath.com/FILES/USERS/daniel.stlegerhoward/My%20Documents/GitHub/Bridge-Dealer/printable.html"><button>Generate Hands</button></a>
	Point range: <input type="number" min="0" max="40" data-ng-model="vm.minPoints"> - <input type="number" min="0" max="40" data-ng-model="vm.maxPoints">
	Longest suit length: <input type="number" min="4" max="13" data-ng-model="vm.firstSuitLength">
	Second longest suit length: <input type="number" min="0" max="6" data-ng-model="vm.secondSuitLength"> -->
	</body>
</html>